.admin-page-pic {
  border: 2px solid black;
  border-radius: 50%;

  height: 100px;
  width: 100px;

  cursor: pointer;
}

.webdevrow {
  margin-bottom: 50px;
}

.webdev {
  margin-top: 40px;
  margin-bottom: 50px;
}

.datarow {
  margin-top: 10px;
}

.datah1 {
  margin-bottom: 50px;
}
.datapics {
  margin-top: 80px;
}

.admin-page-pic:hover {
    box-shadow: 0 0 0 3pt hsl(41, 100%, 58%);
    top: 5px;
    animation: bounce 1s;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }

//   .bg-img1 {
//     background-image: url('/assets/bham-skyline-railroad-park2.jpg');
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-size: cover;
  
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     right:0;
//     left: 0;


//     // z-index: -100;
  
//     // height: 100%;
//     // min-height: 750px;
//     // width: 100%;
// }
