@import '../../../node_modules/bootstrap/scss/bootstrap.scss';



.bg-img {
  background-image: url('/assets/bham-skyline-railroad-park.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  z-index: -10;
  top: -40;

  height: 80%;
  min-height: 750px;
  width: 100%;
}

// Resets All PreStyled Items
// * {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     font-family: 'PT Sans', sans-serif;
//   } 

