.page-container {
    padding-top: 5rem;
    height: 80vh;
    width: 80vw;
}

.neg-top-margin {
    margin-top: -6px;
}

.elevator-pic {
    height:550px;
    width:1200px;
}

.elevator-div {
    margin-top: 30px;
    background:linear-gradient(rgba(11,26,66,.4),rgba(11,26,66,.4));
    // padding-right: 220px;
}

.body {
  text-align:center;
  display:block;

  .paragraphs {
    max-width: 80%;
  }

}

.top-box {
    margin-bottom: -620px;
}


.recorder-div {
    width:500px;
    height: 500px;
    
}

.p1 {
    margin-top: 90px;
    margin-bottom: 15px;
}


.p2 {
    margin-top: 90px;
    margin-bottom: 15px;
}


.p3 {
    margin-top: 90px;
    margin-bottom: 15px;
}

.input-field {
    padding-left: 50px;
}
