.page-container {
    padding-top: 5rem;
    height: 80vh;
    width: 80vw;
}

.neg-top-margin {
    margin-top: -6px;
}

.elevator-pic {
    background-size:cover;
}

.display-4 {
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

// .elevator-div {
//     // background-size:cover
//     // background-color: rgb(88,88,88);
//     // margin-top: 30px;
//     // background:linear-gradient(rgba(11,26,66,.4),rgba(11,26,66,.4));
//     // padding-right: 220px;
// }

.body {
  text-align:center;
//   display:block; 
}

//   .paragraphs {
      
//     // max-width: 80%;
//   }

.body1 {
    margin-bottom: 0
}

.recorder-div {
    width:500px;
    height: 500px;
    display: inline-block;
    
}

.p1 {
    padding-top: 50px;
    margin-left: -15px;
    margin-right: -15px;
    
}


.p2 {
    background-color: rgb(216,216,216);
    margin-left: -15px;
    margin-right: -15px;
    
   
}


.p3 {
    
    margin-left: -15px;
    margin-right: -15px;
    }


    

// .bottom-section {
//     // margin-bottom: -675px;
// }

