@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.elevator-pic {
    width: 100%;
    background-size: cover;
}

.body {
  text-align:center;
}

.recorder-div {
    width:500px;
    height: 500px;
    // display: inline-block;
    display:flex;
    justify-content: center;
}

.recorder-div-small-screen {
    width:375px;
    height: 375px;
    display:flex;
    justify-content: center;
    // display: inline-block;
}

.p1 {
    padding-top: 50px;
}

.p2 {
    background-color: #D8D8D8;
}

.p4 {
    margin: 0 20%;
}

.recorder-cont {
    display: flex;
    justify-content: center;
}

.pitches {
    margin-top:200px;
    padding:15px;
}

.btn-pitch {
    color:red;
}