@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.elevator-bg-img {
    background-image: url('/assets/bham-skyline-railroad-park.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -100;

    height: 100%;
    min-height: 750px;
    width: 100%;
}

.elevator-footer-fix {
    margin-bottom: -500;
}

.placeholder {
    color: white;
}

.elevator-pic {
    width: 100%;
    background-size: cover;
}

.body {
  text-align: center;
}

.recorder-div {
    width:500px;
    height: 500px;
    // display: inline-block;
    display:flex;
    justify-content: center;
}

.recorder-div-small-screen {
    width:375px;
    height: 375px;
    display:flex;
    justify-content: center;
    // display: inline-block;
}

.p1 {
    padding-top: 50px;
}

// .p2 {
//     background-color: #D8D8D8;
// }

.p4 {
    margin: 0 20%;
}

.recorder-cont {
    display: flex;
    justify-content: center;
}

.pitches {
    background-color: transparent;
    margin-top:179px;
    // width: 97%;
    padding: 0 15px;
}

.bg-filter-elevator {
    position: relative;
    left: 5%;
    width: 90%;
    
    background-color: #161929BB;
    // border-radius: 10px;

    // padding-bottom:5em;
}
