@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

$theme-colors: (
    'midnight': #161929,
    'stone': #8A8A8D,
    'navy': #242135,
    'aqua': #43B7E8,
    'gold': #FFCF2B,
    'warning': #FFCF2B
);

// .bottom-row {
//     margin-bottom: -200px;
// }

// .container-fluid {
//     align-items: center;
//     justify-content: center;
// }

// .flashcardsContainer {
//     align-items: center;
//     justify-content: center;
//     margin-top: 10em;
//     width: 100%;
// }

// .text-gold {
//     padding: 15px;
//     font-size: 50px;
//     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
// }

.card {
    height: 100%;
    width: 100%;
}

.card-front {
    width: 100%;
    height: 100%;
    height: 15rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 0.9s;
    backface-visibility: hidden;
    // overflow: scroll;
    max-width: 40rem;
}

.card-back {
    width: 100%;
    height: 100%;
    height: 15rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    backface-visibility: hidden;
    // overflow: auto;
    transition: all 0.9s;
    transform: rotateY(180deg);
    max-width: 40rem;
}

.card-front-anim {
    animation: .5s ease-in flipFront forwards;
  }

.card-back-anim {
    animation: .5s ease-in flipBack forwards;
}

.card .card-header {
    background-color: #161929;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bolder;
}

.card .card-text-question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.card .card-text-answer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.card .card-body {
    background-color: white;
}

.btn-container {
    width: 100%;
    align-items: center;
    justify-content: center;
}

@keyframes flipFront {
    100% {
      transform: rotateY(180deg)
    }
  }

@keyframes flipBack {
    100% {
      transform: rotateY(0deg)
    }
  }











// .background-cards {
//     height: 100%;
//     background-color: #242135;
//     margin-bottom: 100px;
// }

// .container:hover .card-front {
//     transform: rotateY(180deg);
// }

// .container:hover .card-back {
//     transform: rotateY(0deg);
// }

// .card .card-body {
//     background-color: #FFCF2B;
// }

// .deck1 {
//     width: 100%;
//     height: 100%;    
//     top: 50;
//     left: 0;     
//     margin: 10px;   
//     position: absolute;
// }

// .deck2 {
//     width: 100%;
//     height: 100%;    
//     top: 50;
//     left: 0;     
//     margin-left: 20px;  
//     margin-top: 20px;   
//     position: absolute;
// }