@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

$theme-colors: (
    'midnight': #161929,
    'stone': #8A8A8D,
    'navy': #242135,
    'aqua': #43B7E8,
    'gold': #FFCF2B,
    'warning': #FFCF2B
);

// .bottom-row {
//     margin-bottom: -500px;
// }

.container-fluid {
    align-items: center;
    justify-content: center;
    margin-bottom: -400px
}

.container {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 200rem;
    align-items: center;
    justify-content: center;
}

.background-cards {
    height: 40%;
    background-color: #242135;
}

.btn-container {
    padding: 2em;
}

.card {
    height: 12rem;
    width: 100%;
}

.card .card-header {
    background-color: #FFCF2B;
    height: 3em;
}

.card-front{
    width: 100%;
    height: 100%;    
    top: 50;
    left: 0;        
    position: absolute;
    transition: all 0.9s;
    backface-visibility: hidden;
    overflow: scroll;
}

.card-back{
    width: 100%;
    height: 100%;      
    top: 50;
    left: 0;
    position: absolute;
    transition: all 0.9s;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    overflow: auto;
}

.deck1{
    width: 100%;
    height: 100%;    
    top: 50;
    left: 0;     
    margin: 10px;   
    position: absolute;
}

.deck2{
    width: 100%;
    height: 100%;    
    top: 50;
    left: 0;     
    margin-left: 20px;  
    margin-top: 20px;   
    position: absolute;
}

.container:hover .card-front {
    transform: rotateY(180deg);
}

.container:hover .card-back {
    transform: rotateY(0deg);
}

.btn-container-new-flashcard {
    padding: 5em;
}



  
// .card .card-body {
//     background-color: #FFCF2B;
// }