
.top-footer {
    // width: 100%;
    height: 35px;
    color: white;
    margin-top: 600px;
    display: flex;
}

.bottom-footer {
//     width: 100%;
//     height: 200px;
    background: #161929;
}

.padding-container {
    padding-top: 3em;
    padding-bottom: 1em;
}

.yellow-underline {
    background: #FFCF2B;
    margin-top: -10px;
    height: 2px;
    width: 50px;
}