// html, body {
//     width: 100%;
// }
body {
    font: helvetica;
}

.gold {
    background-color: #FFCF2B;
    height: 15px;
    width: 100%;

    position: relative;
    bottom: -508px;
    // right: -150px;s
}

.blue {
    background-color: #242135;
    // background-color: #161929;
    height: 300px;
    width: 100%;

    position: relative;
    bottom: -508px;
    // right: -150px;

}