

.page-container {
    padding-top: 5rem;
    height: 80vh;
    width: 80vw;
}

.page-row {
    margin-bottom: -650px;
}

.profile-pic {
    border: 3px solid #161929;
    border-radius: 50%;
}

.neg-top-margin {
    margin-top: -6px;
}

// a {
//     text-decoration: none;
//     color: #FFFFFF;
// }

.link-boxes {
    position: relative;
    top: 5px;

    height: 10em;
    width: 15em;

    border: 2px solid #161929;
    border-radius: 10px;
}