@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


.bg-img {
    background-image: url('/assets/bham-skyline-railroad-park.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 75;
    left: 0;
  
    height: 100%;
    min-height: 500px;
    width: 100%;

}
