@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


.bg-img {
    background-image: url('/assets/bham-skyline-railroad-park.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 75;
    left: 0;
  
    height: 80%;
    min-height: 500px;
    width: 100%;

}

.welcome-msg-1 {
    position: relative;
    right: 50px;

    font-size: 4em;
}

.welcome-msg-2 {
    position: relative;
    left: 50px;

    font-size: 4em;
    margin-top: -25px;
}
