.logo-sm {
    height: 50px;
    width: 50px;
}

.negative-margin {
    margin-top: -16px;
    margin-left: -3px;
}

.negative-margin-top {
    margin-top: -8px;
}

.mission-statement-option-1 {
    position: relative;
    right: 225px;
}

.mission-statement-option-2 {
    position: relative;
    right: 350px;
}

.mission-statement-line-1 {
    margin-top: 5;
}

.mission-statement-line-2 {
    margin-top: -10;
}
