@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


.resources-bg-img {
    background-image: url('/assets/bham-skyline-railroad-park.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -100;
    
    height: 100%;
    min-height: 750px;
    width: 100%;
}