.staff-bg-img {
    background-image: url('/assets/bham-skyline-railroad-park.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -100;
  
    height: 100%;
    min-height: 750px;
    width: 100%;
}


.resources-profile-pic {
    border: 2px solid black;
    border-radius: 50%;

    height: 75px;
    width: 75px;
}

.bg-filter {
    position: relative;
    top: 0;
    left: 75;
    
    background-color: #161929BB;
    border-radius: 10px;
    // height: 100%;
    width: 90%;
}

.staff-page-fix {
    margin-bottom: -475px;
}

.h4,img:hover {
    background-color: #161929ee;
    box-shadow: 0 0 0 1pt #FFCF2B;
    top: 5px;
    text-decoration: none;
}

