
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">

<h3>Partner Sites</h3>
<a href="https://hiddeninnovators.co/">Hidden Innovators</a><p></p>
<a href="https://2rvns.com/">2 Ravens</a><p></p>
<a href="https://sigao.io/">Sigao Studios</a><p></p>
<!-- If we do some partners, we need to do all the big ones at least. 
    Ask Josh for more of our main partners and look up their sites -->


<h3>colaboration / organization</h3>
<a href="https://www.figma.com/" >Figma</a><p></p>
<a href="https://trello.com/">Trello</a><p></p>
<a href="https://kumu.io/" >Kumu</a><p></p>
<a href="https://miro.com/">Miro</a><p></p>


<h3>Job Sites</h3>
<a href="https://www.goodjob.io/">Goodjob</a><p></p>
<a href="https://onboardbirmingham.com/">OnBoard Bham - info tech</a><p></p>
<a href="https://boulosolutions.com/talent/">Boulo Solutions</a><p></p>
<!-- I think there are more job sites they've given us -->


<h3>Bham Tech Groups</h3>
<a href="http://magiccitytech.org/">Magic City Tech</a><p></p>
<a href="https://www.techbirmingham.com/">TechBirmingham</a><p></p>

<!-- Does Josh or any other staff know of any more local tech groups? -->








<h4>Probably Don't use anything below here for now</h4>
<!-- I don't think we should use coding specific sites unless we can get a bunch of DATA specific sites, too -->
<h3>Coding Specific Sites</h3>
<a href="https://gravity.covalence.io/portal/"></a><p></p>Portal | Gravity</a><p></p>
<a href="https://github.com/">GitHub</a><p></p>
<a href="https://www.w3schools.com/">W3Schools</a><p></p>
<a href="https://developer.mozilla.org/en-US/">MDN Web Docs</a><p></p>
<a href="https://www.codewars.com/">Codewars</a><p></p>
<a href="https://www.hackerrank.com/">HackerRank</a><p></p>
<a href="https://edabit.com/">https://edabit.com/</a><p></p>
<a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes">List of HTTP status codes - Wikipedia</a><p></p>
<a href="https://www.freecodecamp.org/">Free Code Camp</a><p></p>
<a href="https://nvie.com/posts/a-successful-git-branching-model/">A successful Git branching model » nvie.com</a><p></p>
<a href="https://datasift.github.io/gitflow/IntroducingGitFlow.html">Introducing GitFlow</a><p></p>
<a href="https://bennettfeely.com/clippy/">Clippy — CSS clip-path maker</a><p></p>
<a href="https://fonts.google.com/">Google Fonts</a><p></p>
<a href="https://javascript.info/""></a><p></p>
<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript | MDN</a><p></p>
<a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">A Complete Guide to Flexbox | CSS-Tricks</a><p></p>
<a href="http://www.flexboxdefense.com/">Flexbox Defense</a><p></p>
<a href="https://mastery.games/flexboxzombies/">Flexbox Zombies</a><p></p>
<a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/">Introduction · Bootstrap v4.5</a><p></p>
<a href="https://oscarotero.com/jquery/">jQuery Cheat Sheet</a><p></p>
<a href="http://code.jquery.com/">jQuery CDN</a><p></p>
<a href="https://reactjs.org/">React – A JavaScript library for building user interfaces</a><p></p>
<a href="http://expressjs.com/">Express - Node.js web application framework</a><p></p>
<a href="http://jsonplaceholder.typicode.com/">JSONPlaceholder</a><p></p>
<a href="https://nodejs.org/en/blog/">Node.js</a><p></p>
<a href="https://www.npmjs.com/">npm | build amazing things</a><p></p>
<a href="https://www.mysqltutorial.org/">MySQL Tutorial - Learn MySQL Fast, Easy and Fun.</a><p></p>


<h3>Coding Cheat Sheets</h3>
<a href="https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf">VS Code - Keyboard Shortcuts (Win)</a><p></p>
<a href="https://docs.emmet.io/cheat-sheet/">Cheat Sheet</a><p></p>
<a href="http://devtoolsecrets.com/">Secrets of the Browser Developer Tools - Secrets</a><p></p>
<a href="https://docs.github.com/en">GitHub.com Help Doc Page</a><p></p>
<a href="https://htmlcheatsheet.com/">HTML Cheat Sheet</a><p></p>
<a href="https://hackerthemes.com/bootstrap-cheatsheet/#col-sm-1">Bootstrap 4 Cheat Sheet - The ultimate list of Bootstrap classes</a><p></p>
<a href="https://oscarotero.com/jquery/">jQuery Cheat Sheet</a><p></p>


<h3>generators, palettes, etc</h3>
<a href="https://loremipsum.io/generator/" >Lorem Ipsum Generator</a><p></p>
<a href="https://www.md5hashgenerator.com/">MD5 Hash Generator</a><p></p>
<a href="https://placeholder.com/">Placeholder.com</a><p></p>
<a href="https://bennettfeely.com/clippy/">Clippy — CSS clip-path maker</a><p></p>
<a href="https://colorswall.com/palettes">Colors palettes</a><p></p>


